---
BasedOnStyle: Google
AccessModifierOffset: '-3'
AlignConsecutiveMacros: 'true'
AllowShortBlocksOnASingleLine: 'Empty'
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: 'Inline'
BreakBeforeBraces: Attach
ColumnLimit: '100'
DerivePointerAlignment: 'false'
IndentCaseLabels: 'false'
IndentWidth: '4'
IndentWrappedFunctionNames: 'true'
Language: Cpp
NamespaceIndentation: None
PointerAlignment: Left

...
